
#background {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: -1;
}

.stretch {
    width:100%;
    height:auto;
}

/*navigationbar*/
#navigationbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

#nav2 {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}




intro {
  background-color: grey;
  width: 50px;
  border: 1px solid:black;
  text-align: center;

}

h1 {
    color: white;
    text-align: center;
    text-decoration: none;
    font-size:75px;
    display: block;
    padding: 30px 10px;
}

h2 {
  padding: 50px 10px;
  padding-bottom: 10px;
  color:grey;
  text-align:center;
  font-family: serif;
}

.onderwerp {
  color:grey;
  text-align:center;
  font-family: serif;
}

p {
    color:grey;
    padding-left: 30px;
    padding-right: 30px;
    font-family: serif;
}


#colom{
    height: 50px;
    width: 120px;
    border-color: #bfbfbf;
    background-color: #737373;
    border-style: solid;
    border-width:2px;
    border-radius:5px;
    margin:auto;
    text-align:center;
    }

a {
	text-decoration: none;
	color:white;
	font-family: Verdana, sans-serif;
}

span {
	font-weight: bold;
	font-size: 18px;
	color: white;
}


#doublop {
      text-align: center;
}


img {
    display: block;
    margin: auto;
}


.woonkamer {
  width: 65%;
  margin 20px auto;

}


.box1 {
  columns: 459px;
  float: left;
  outline: 1px solid white;
  border:5px;
  padding: 1px;
  width: 50%;
  padding-left: 100px;
}


.box2 {
  columns: 459px;
  float: right;
  outline: 1px solid white;
  border:5px;
  padding: 1px;
  width: 50%;
  padding-left: 100px;
}

.combar {
padding-left: 100px;
padding-top: 50px;


}


/*Photo page*/
#imgpack {
width:30%;
float:left;
margin:1.66%;
}
